<main class="passwordPage">
  <h1>Forgot your password?</h1>
  <p>Enter the email address linked to your account and we'll send a link to reset your password.</p>
  <form id="forgotPasswordForm" class="passwordForm">
    <div>
      <label for="email">Email address</label>
      <input type="email" required id="email" name="email" />
    </div>
    <button type="submit">Submit</button>
  </form>
</main>

<link rel="stylesheet" href="/css/styles.css" />
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>
<script src="/js/forgot-password.js"></script>