<main class="passwordPage">
  <h1>Reset your password</h1>
  {{#if decoded}}
    <p>Enter your new password. It must have at least 8 characters.</p>
    <form class="passwordForm" id="resetPasswordForm">
      <input type="text" hidden value={{token}} id="token" name="token">
      <div>
        <label for="password">New Password</label>
        <input type="password" required id="password" name="password" />
      </div>
      <div>
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          required
          id="confirmPassword"
          name="confirmPassword"
        />
      </div>

      <button type="submit">Submit</button>

    </form>
  {{else}}
      {{#ifEquals errorType "EXPIRED"}}
        <p class="errorLink">The recovery link provided has expired.
          <a href="/forgot-password">Request a new password reset</a>
        </p>
      {{else}}
        <p class="errorLink">The recovery link provided is invalid.
          <a href="/forgot-password">Request a new password reset</a>
        </p>
      {{/ifEquals}}
  {{/if}}
</main>

<link rel="stylesheet" href="/css/styles.css" />
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>
<script src="/js/reset-password.js"></script>