@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html {
  font-family: "Inter", sans-serif;
  color: white;
  background-color: rgb(14, 14, 14);
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #060607;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: #000000;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #b8b8b8;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h1 {
    text-align: center;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem;

  .product {
    .title {
      font-weight: 600;
      font-size: 1.2rem;
    }

    .price {
      font-weight: 400;
      font-size: 0.9rem;
    }

    .deleteBtn {
      cursor: pointer;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      color: white;
      background-color: rgb(85, 18, 18);
      border: 1px solid rgba(255, 0, 0, 0.479);
      transition: 0.2s ease-in-out;
      font-size: 0.85rem;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        transition: 0.2s ease-in-out;
        background-color: rgba(202, 18, 18, 0.747);
      }
    }
  }
}

#form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  h2 {
    font-weight: 600;
  }

  button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: white;
    background-color: rgb(18, 85, 18);
    border: 1px solid rgba(21, 255, 0, 0.479);
    transition: 0.2s ease-in-out;
    font-size: 0.85rem;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      transition: 0.2s ease-in-out;
      background-color: rgba(70, 202, 18, 0.747);
    }
  }

  .fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 600px;
    width: 100%;

    div {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      label {
        font-size: 0.9rem;
      }

      input {
        background-color: rgb(31, 31, 31);
        outline: none;
        padding: 0.5rem 1rem;
        color: white;
        border: none;
        border-radius: 0.5rem;
      }
    }
  }
}

#chatForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  gap: 1rem;

  textarea {
    width: 90%;
    padding: 0.5rem;
    outline: none;
    background-color: rgb(8, 8, 8);
    color: white;
    resize: none;
  }

  button {
    width: 15%;
    background-color: rgb(120, 255, 215);
    color: black;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
      transition: 0.2s ease-in-out;
      background-color: rgb(24, 202, 149);
    }
  }
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  background: rgb(32, 32, 32);
  padding: 1rem;
  min-height: 600px;
  max-height: 600px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  .messageBox {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: 100%;

    .user {
      margin: 0;
      font-size: 1.3rem;
      font-weight: 500;
      color: rgb(88, 255, 205);
    }

    .message {
      font-size: 1rem;
      font-weight: 300;
      margin: 0;
      opacity: 0.8;
    }
  }
}

#title {
  font-size: 1.8rem;

  span {
    color: rgb(88, 255, 205);
  }
}

.pagination {
  user-select: none;
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.2rem 0.5rem;
    border: 1px solid white;
    transition: 0.2s ease-in-out all;

    &:hover {
      background-color: white;
      color: black;
    }
  }

  .active {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }
}

.userContainer {
  font-size: 0.9rem;

  h3 {
    font-weight: 500;
  }

  span {
    font-weight: 300;
  }

  button {
    width: fit-content;
  }
}

.githubLink {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 1px solid white;
  border-radius: 10px;
  width: fit-content;
  transition: 0.2s ease-in-out all;

  &:hover {
    background-color: white;
    color: black;
  }
}
