@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html {
  font-family: "Inter", sans-serif;
  color: white;
  background-color: rgb(14, 14, 14);
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #060607;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: #000000;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #b8b8b8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h1 {
    text-align: center;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem;

  .product {
    .title {
      font-weight: 600;
      font-size: 1.2rem;
    }

    .price {
      font-weight: 400;
      font-size: 0.9rem;
    }

    .deleteBtn {
      cursor: pointer;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      color: white;
      background-color: rgb(85, 18, 18);
      border: 1px solid rgba(255, 0, 0, 0.479);
      transition: 0.2s ease-in-out;
      font-size: 0.85rem;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        transition: 0.2s ease-in-out;
        background-color: rgba(202, 18, 18, 0.747);
      }
    }
  }
}

#form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  h2 {
    font-weight: 600;
  }

  button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: white;
    background-color: rgb(18, 85, 18);
    border: 1px solid rgba(21, 255, 0, 0.479);
    transition: 0.2s ease-in-out;
    font-size: 0.85rem;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      transition: 0.2s ease-in-out;
      background-color: rgba(70, 202, 18, 0.747);
    }
  }

  .fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 600px;
    width: 100%;

    div {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      label {
        font-size: 0.9rem;
      }

      input {
        background-color: rgb(31, 31, 31);
        outline: none;
        padding: 0.5rem 1rem;
        color: white;
        border: none;
        border-radius: 0.5rem;
      }
    }
  }
}

#chatForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  gap: 1rem;

  textarea {
    width: 90%;
    padding: 0.5rem;
    outline: none;
    background-color: rgb(8, 8, 8);
    color: white;
    resize: none;
  }

  button {
    width: 15%;
    background-color: rgb(120, 255, 215);
    color: black;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
      transition: 0.2s ease-in-out;
      background-color: rgb(24, 202, 149);
    }
  }
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  background: rgb(32, 32, 32);
  padding: 1rem;
  min-height: 600px;
  max-height: 600px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  .messageBox {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: 100%;

    .user {
      margin: 0;
      font-size: 1.3rem;
      font-weight: 500;
      color: rgb(88, 255, 205);
    }

    .message {
      font-size: 1rem;
      font-weight: 300;
      margin: 0;
      opacity: 0.8;
    }
  }
}

#title {
  font-size: 1.8rem;

  span {
    color: rgb(88, 255, 205);
  }
}

.pagination {
  user-select: none;
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.2rem 0.5rem;
    border: 1px solid white;
    transition: 0.2s ease-in-out all;

    &:hover {
      background-color: white;
      color: black;
    }
  }

  .active {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }
}

.userContainer {
  font-size: 0.9rem;

  h3 {
    font-weight: 500;
  }

  span {
    font-weight: 300;
  }

  button {
    width: fit-content;
  }
}

.githubLink {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 1px solid white;
  border-radius: 10px;
  width: fit-content;
  transition: 0.2s ease-in-out all;

  &:hover {
    background-color: white;
    color: black;
  }
}

.passwordPage {
  display: flex;
  flex-direction: columnc;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  margin: 0 auto;
  gap: 0rem;
  height: 100dvh;

  p {
    text-align: center;
  }

  .errorLink {
    background-color: rgb(226, 161, 161);
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 0.9rem;
    color: rgb(143, 0, 0);
    font-weight: 500;
    a {
      text-decoration: underline;
      color: rgb(209, 0, 0);
    }
  }
}

.passwordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;

    input {
      padding: 0.5rem 1rem;
      outline: none;
      background-color: rgb(56, 56, 56);
      border: none;
      color: white;
    }
  }

  button[type="submit"] {
    background-color: rgb(6, 153, 6);
    color: white;
    padding: 0.5rem 1rem;
    width: 100%;
    border: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
  }
}

.table-container {
  width: 100%;
  overflow-x: auto;

  table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.226);
    text-align: left;
    margin: auto;

    thead {
      tr {
        th {
          padding: 0.5rem;
          font-size: 0.9rem;
          font-weight: 500;
          background-color: rgba(0, 0, 0, 0.397);
        }
      }
    }

    tbody {
      tr {
        &:nth-of-type(even) {
          background-color: rgb(19, 19, 19);
        }

        td {
          position: relative;
          font-size: 0.9rem;
          font-weight: 300;
          padding: 0.5rem;
        }
      }
    }
  }
}

.ellipsisBtn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: white;
  transition: ease-in-out 0.2s;

  &:hover > i {
    opacity: 0.7;
    transition: ease-in-out 0.2s;
  }

  i {
    pointer-events: none;
  }
}

.contextMenu {
  background-color: rgb(10, 10, 10);
  min-height: 45px;
  min-width: 130px;
  position: absolute;
  top: -0.5rem;
  right: 3.5rem;
  border: 1px solid rgba(255, 255, 255, 0.253);
  border-radius: 10px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.5rem;
    width: 100%;
    background-color: transparent;
    border: none;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    z-index: 2;

    &:hover {
      transition: 0.2s ease-in-out;
      background-color: #181818;
    }
  }
}

.modalContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.651);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    background-color: rgb(8, 8, 8);
    color: white;
    border: 1px solid white;
    max-width: 350px;
    border: 1px solid rgba(255, 255, 255, 0.534);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 0.5rem;
    background: radial-gradient(
      80% 80% at center 0%,
      rgba(46, 235, 39, 0.06) 3%,
      rgba(98, 255, 179, 0) 70%,
      rgba(98, 255, 179, 0) 100%
    );

    h2 {
      font-size: 1.1rem;
      margin: 0;
    }

    p {
      font-size: 0.9rem;
      font-weight: 300;
      margin-bottom: 1rem;
    }

    button {
      cursor: pointer;
      padding: 0.5rem 1rem;
      font-weight: 500;
      border-radius: 10px;
      width: fit-content;
      height: auto;
      color: white;
      background-color: #060607;
      border: 1px solid #ffffff75;
      font-size: 0.85rem;
      text-decoration: none;
      transition: 0.2s ease-in-out;

      &:hover {
        transition: 0.2s ease-in-out;
        background-color: rgb(15, 15, 15);
      }
    }
  }
}
